branca
folium
GDAL
geopandas
keras
matplotlib
numpy
opencv_python
opencv_python_headless
pandas
patchify
Pillow
pylandtemp
pyproj
rasterio
scikit_learn
scipy
segment_geospatial
segmentation_models
Shapely
split-folders
streamlit
streamlit_folium
streamlit_image_comparison
tensorflow
tqdm
